<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update Provider</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
    <div class="container my-5">
        <h3> Update Provider</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-8">
                    <form action="#" th:action="@{/categorie/update/{id}(id=${categorie.id})}" th:object="${categorie}" method="post">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="game" class="col-form-label">game</label> <input type="text" th:field="*{game}" class="form-control" id="game" placeholder="game"> <span th:if="${#fields.hasErrors('game')}" th:errors="*{game}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="puissanceFiscale" class="col-form-label">puissance fiscael</label> <input type="text" th:field="*{puissanceFiscale}" class="form-control" id="puissanceFiscale" placeholder="puissancefiscale"> <span th:if="${#fields.hasErrors('puissanceFiscale')}" th:errors="*{puissanceFiscale}" class="text-danger"></span>
                            </div>
                            

                            <div class="form-group col-md-8">
                                <input type="submit" class="btn btn-primary" value="Update Categorie">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
                                